* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

    /* background-image: linear-gradient(334deg, #8BC6EC 0%, #9599E2 100%);
    */
    /* background: #262a2f; */
}

.container {

    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #16a34a; */


}

.buttons {
    /* width: 100%; */
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 30px;

}

button {
    padding: 8px 30px;
    outline: 0;
    /* border: 1px solid #262a2f; */
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}


.error:hover {
    background: #ef4444;
    color: #fff;
    transition: 0.5s ease-out;
}


.success:hover {
    background: #16a34a;
    color: #fff;
    transition: 0.5s ease-out;
}

.invalid:hover {
    background: #083344;
    color: #fff;
    transition: 0.5s ease-out;
}


#toastBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    /* background: #ef4444; */
}

.toast {
    width: 200px;
    height: 60px;
    font-weight: 500;
    margin: 15px 2px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    padding: 5px;
    align-items: center;
    /* justify-content: center; */

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    /* transition: 2s ease-out; */
    transition: opacity 0.5s;
}


.timeOut {
    height: 2px;
    background: #16a34a;
    animation: toastOut 1s ease-in-out;
}

@keyframes toastOut {
    0% {
        transform: translateX(200px);

    }

    25% {
        transform: translateY(150px);

    }

    50% {
        transform: translateY(100px);

    }

    100% {
        transform: translateY(50px);

    }

}