* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fff;
    /* height: 100vh; */
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #aa5bb9ca, #4e7da8);
    color: #fff;
    margin: 20px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 60px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    text-align: center;
    margin-right: 16px;
    font-size: 25px;
    cursor: pointer;
}

.search button:hover {
    color: tomato;
}


.weather-icon {
    margin-top: 5%;
    max-width: 50%;
    height: auto;
    margin-bottom: 5%;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {

    max-width: 20%;
    height: auto;
    margin-right: 10px;
}

.details {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.temp {
    font-size: 40px;
    font-weight: 800;
}

.city {
    font-size: 30px;
    font-weight: 800;
}